@font-face {
  font-family: 'summit_mediumsolid';
  src: url('./fonts/summit/summitmedium-solid-webfont.woff2') format('woff2'),
       url('./fonts/summit/summitmedium-solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col .row {
  padding: 0 !important;
}


div.menuBackground > a:link {
  color: #000 !important;
  text-decoration: none;
}

div.menuBackground > a:visited {
  color: #000 !important;
  text-decoration: none;
}

div.menuBackground > a:hover {
  color: white !important;
  text-decoration: none;
}

div.menuBackground > a:active {
  color: #000 !important;
  text-decoration: none;
}

.menuBackground {
  padding: 2%;
  height: 98%;
  width: 98%;
}


.eventBackground,
.attractionBackground,
.trailsBackground,
.restaurantBackground,
.shoppingBackground {
  padding: 2%;
  height: 98%;
  width: 98%;
  margin: 1%;
}

.grids {
  color: black;
}


 body {
  font-family: 'summit_mediumsolid', sans-serif;
  top: 0;
 }

 #logoTT {
   margin: 0;
 }

 #download-button {
  background-color: #285340;
  color: white;
 }

 #navBar {
  background-color: #285340;
  color: white;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #285340;
}

#placeSearch {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
}

#searchBar,
.page-footer {
  background-color: #285340;
}

#searchBar{
  margin: 2px;
  background-color: #860635cd;
}

#searchContainer {
  width: 70%;
  margin-top: -5%;
}



.parallax-container .parallax #img1 {
  width: 200%;
}

#index-banner {
  min-height: 650px;
  line-height: 0;
  height: 650px;
  color: rgba(255,255,255,.9);
}

.parallax-container {
  line-height: 0;
  color: rgba(255,255,255,.9);
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.ap-input{
  color: #9e9e9e;
}

.ap-name{
  color: black;
}

#form-zip, #form-state, #endDate, #startDate, #endingDate, #startingDate{
  color: white;
  font-family: 'summit_mediumsolid', sans-serif; 
  margin-bottom: 20px;
  
}

#startingDate, #stateCol {
  padding-right: 10px;
}

.textDif {
  color: white !important;
}

#modalText {
  color: white;
}

.newCityBtn {
  margin: 2px;
}

#modal1 {
  background-image: url(./../images/mapPink.png);

}

.spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}