@font-face {
  font-family: 'summit_mediumsolid';
  src: url('./fonts/summit/summitmedium-solid-webfont.woff2') format('woff2'),
       url('./fonts/summit/summitmedium-solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 body {
  font-family: 'summit_mediumsolid', sans-serif;
 }

 #download-button {
  background-color: #285340;
  color: white;
 }

 /* .brand-logo {
   margin-left: 40%;
 } */

 #navBar {
  background-color: #285340;
  color: white;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

#startDate,
#endDate {
  color: white;
}

#placeSearch {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
}

#searchBar,
.page-footer {
  background-color: #285340;
}

#searchContainer {
  margin-top: 17%;
}

.parallax-container .parallax #img1 {
  width: 200%;
}

.parallax-container {
  min-height: 650px;
  line-height: 0;
  height: 650px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.ap-input{
  color: #9e9e9e;
}

.ap-name{
  color: black;
}

#form-zip, #form-state, #endDate, #startDate{
  color: white;
  font-family: 'summit_mediumsolid', sans-serif; 
  margin-bottom: 20px;
}